* {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
.sb-accounts {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow: hidden;
    padding-bottom: 40px;
    padding-top: 23px;
}
.sb-accounts .sb-login-section {
    margin: 0 auto;
    text-align: center;
    width: 500px;
}
.sb-accounts form {
    background: none repeat scroll 0 0 #f1f1f1;
    max-width: 362px;
    padding: 25px;
}
.sb-accounts .form-group {
    margin-bottom: 15px;
}
.sb-accounts .sb-form,
.sb-accounts .sb-lost-password-form,
.sb-accounts .sb-login-form {
    border-radius: 5px;
    max-width: 100%;
    padding: 35px;
}
.sb-accounts .sb-signup-form {
    float: right;
    min-width: 350px;
}
.sb-accounts .login-links {
    font-size: 13px;
    margin-top: 10px;
    text-align: center;
}
.sb-accounts form label {
    display: none;
}
.sb-accounts .login-links a {
    border-right: 1px solid #aaa;
    margin-right: 5px;
    padding-right: 10px;
}
.sb-accounts .form-title {
    color: #282828;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
}
.sb-accounts .login-links a:last-child {
    border: medium none;
    margin-right: 0;
    padding-right: 0;
}
.sb-accounts .sb-btn-blue,
.sb-accounts .btn-save,
.sb-accounts .btn-submit {
    background-color: #4d90fe;
    border: 1px solid #3079ed !important;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 12px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.sb-accounts .sb-btn-blue:hover,
.sb-accounts .btn-save:hover,
.sb-accounts .btn-submit:hover {
    background-color: #357ae8;
    color: #fff;
}
.sb-accounts .sb-btn-blue:active,
.sb-accounts .btn-save:active,
.sb-accounts .btn-submit:active,
.sb-accounts .sb-btn-blue:focus,
.sb-accounts .btn-save:focus,
.sb-accounts .btn-submit:focus {
    color: #fff;
    outline: 0 none;
}
.sb-accounts input[type="password"],
.sb-accounts input[type="text"] {
    width: 100%;
}
.sb-accounts .sb-form .btn-submit,
.sb-accounts .sb-lost-password-form .btn-submit,
.sb-accounts .sb-login-form .btn-submit {
    font-size: 16px;
    font-weight: 400;
    padding: 12px 10px;
    width: 100%;
}
.sb-accounts .sb-login-section .login-title {
    color: #555;
    font-size: 17px;
    margin-bottom: 15px;
}
.sb-accounts .errors {
    display: none;
    color: #dd4b39;
}
.sb-accounts .sb-signup-page {
    overflow: hidden;
}
.sb-accounts .sb-signup-page .col-sm-4 {
    margin: 0 auto;
    max-width: 400px;
}
.sb-accounts .sb-form .errors,
.sb-accounts .sb-signup-form .errors,
.sb-accounts .sb-lost-password-form .errors,
.sb-accounts .sb-login-form .errors {
    margin-top: 10px;
}
.sb-accounts .sb-form .errors.active,
.sb-accounts .sb-signup-form .errors.active,
.sb-accounts .sb-lost-password-form .errors.active,
.sb-accounts .sb-login-form .errors.active {
    display: block;
}
.sb-accounts .cookies {
    text-align: left;
}
.sb-accounts .sb-login-form .form-group.cookies {
    font-size: 13px;
}
.sb-accounts .cookies input {
    margin-top: 0;
    vertical-align: middle;
}
.sb-accounts .cookies span {
    vertical-align: middle;
}
.sb-accounts .sb-form .btn-submit:focus,
.sb-accounts .sb-lost-password-form .btn-submit:focus,
.sb-accounts .sb-login-form .btn-submit:focus {
    outline: 0 none;
}
.sb-accounts .form-group:last-child {
    margin-bottom: 0;
}
.sb-accounts .required {
    color: #555;
    font-size: 100%;
    margin-left: 0;
}
.sb-accounts .sb-lost-password-form .reset-password {
    margin-bottom: 15px;
}
.sb-accounts .sb-password-strength-indicator {
    background-color: #eee;
    border: 1px solid #ddd;
    color: #444;
    display: block;
    margin: 13px 5px 5px 1px;
    padding: 3px 5px;
    text-align: center;
    width: 100%;
}
.sb-accounts .sb-password-strength-indicator.bad {
    background-color: #ffb78c;
    border-color: #ff853c;
}
.sb-accounts .sb-password-strength-indicator.good {
    background-color: #ffec8b;
    border-color: #fc0;
}
.sb-accounts .sb-password-strength-indicator.short {
    background-color: #ffa0a0;
    border-color: #f04040;
}
.sb-accounts .sb-password-strength-indicator.strong {
    background-color: #c3ff88;
    border-color: #8dff1c;
}
.container-fluid .container,
.container .container {
    padding: 0;
}
.sb-accounts .col-sm-8,
.sb-accounts .col-sm-4,
.sb-accounts .col-sm-6 {
    padding: 0;
}
.bg-success {
    background-color: #dff0d8;
}
.sb-message-box {
    padding: 15px;
}
.sb-accounts .dashboard {
    float: left;
    width: 290px;
}
.sb-accounts .bg-dashboard-avatar {
    background-position: 0 20%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #e1e8ed;
    border-radius: 4px 4px 0 0;
    display: block;
    height: 95px;
    width: 100%;
}
.sb-accounts .dashboard .module {
    background-color: #fff;
    border: medium none;
    border-radius: 6px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 0;
}
.sb-accounts .dashboard .user-avatar {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 6px;
    display: inline-block;
    margin: -30px 0 0 8px;
    padding: 1px;
    vertical-align: bottom;
}
.sb-accounts .dashboard .user-avatar img {
    border-radius: 6px;
}
.sb-accounts .dashboard .profile-avatar {
    position: relative;
}
.sb-accounts .sb-user-profile .sb-user-profile-container {
    overflow: hidden;
}
.sb-account-page.sb-user {
    background-color: #f5f5f5;
}
.sb-verify-account {
    background-color: #fff;
}
.sb-accounts .dashboard .user-display-name {
    left: 94px;
    position: absolute;
    top: 8px;
    width: 185px;
}
.sb-accounts .dashboard .user-display-name .name {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    padding: 6px 0;
    white-space: nowrap;
    word-wrap: normal;
}
.sb-accounts .content-main {
    background-color: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 6px;
    margin-left: 310px;
}
.sb-accounts .content-main .module {
    padding: 0;
}
.sb-accounts .content-main .header {
    padding: 12px;
}
.sb-accounts .content-main .module .header h2 {
    color: #66757f;
    font-size: 22px;
    font-weight: 300;
    line-height: 22px;
    margin: 0;
}
.sb-accounts .content-main .module .header .description {
    color: #8899a6;
    margin-bottom: 0;
    margin-top: 5px;
}
.sb-accounts .content-main .module .content-inner {
    border-top: 1px solid #f1f1f1;
    padding: 12px;
}
.sb-accounts .content-main .module .control-group {
    margin-bottom: 15px;
}
.sb-accounts .content-main .module label {
    border-bottom: 0 none;
    color: #292f33;
    float: left;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    padding-top: 5px;
    text-align: right;
    width: 120px;
}
.sb-accounts .content-main .module .controls {
    margin-left: 140px;
}
.sb-accounts .content-main .module input[type="password"],
.sb-accounts .content-main .module input[type="text"] {
    border: 1px solid #eee;
    color: #777;
    padding: 4px;
    width: 210px;
}
.sb-accounts .content-main .module .controls .description {
    color: #ccc;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 4px;
}
.sb-accounts .content-main .module .full-width {
    margin-left: -12px;
    margin-right: -12px;
}
.sb-accounts .form-actions {
    margin: 20px 0 8px;
    padding-left: 140px;
}
.sb-accounts .btn-save {

}
.sb-accounts .profile-list {
    margin: 0;
    padding: 0;
}
.sb-accounts .profile-list li {
    border-bottom: 1px solid #e1e8ed;
}
.sb-accounts .profile-list li a {
    color: #66757f;
    display: block;
    padding: 8px 12px;
}
.sb-accounts .profile-list li:hover a {
    background-color: #f5f8fa;
    color: #0084b4;
}
.sb-accounts .module.profile-tools {
    padding: 0;
}
.sb-accounts .module li:last-child {
    border: medium none;
}
.sb-accounts .module li:last-child a {
    border-radius: 0 0 6px 6px;
}
.sb-accounts .module li:first-child a {
    border-radius: 6px 6px 0 0;
}
.sb-accounts .content-main .module input.medium {
    width: 360px;
}
.sb-accounts .content-main .password-meter {
    width: 210px;
}
.sb-accounts .content-main .controls.birthday .sep {
    font-size: 20px;
    margin: 0 10px;
    vertical-align: middle;
}
.sb-accounts .content-main .controls .notification {
    color: #dd4b39;
    font-size: 12px;
    margin-bottom: 0;
}
.sb-accounts .content-main .module.user-avatar-box {
    min-height: 154px;
}
.sb-accounts .btn-save {
    min-width: 100px;
}